body {
    margin: 0;
}

h1 {
    color: white;
    background-color: gray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px 30px 30px 30px;
}

#totalMonthly {
    text-align: right;
    padding-right: 100px;
}

h2 {
    padding: 5px;
    margin: 10px;
}

#inputFields {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
}